// Here you can add other styles

body {
  background-color: rgba(0,0,0,1);
  background:url(~assets/img/blur-bg.jpg) center center fixed !important;
}

.card {
  background:url(~assets/img/blur-bg-blurred.jpg) fixed;
  border: none;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
}

.app-header.navbar {
  border: none;
  box-shadow: 2px 0 3px rgba(0,0,0,.5);
  .navbar-brand {
    border: none;
  }
}

.breadcrumb {
  background-color: transparent;
  border: none;
}

th {
  font-weight: normal;
}

$navbar-bg: rgba(0,0,0,.5);
$navbar-brand-bg: rgba(0,0,0,0);

$sidebar-bg: rgba(0,0,0,.5);
$card-bg: rgba(255,255,255,.2);
